body {
    background-color: #ffecf7;
}
@keyframes pulsar{
    0%{
        transform: none;
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: none;
    }
}
h2 {
    color: #cd5e8c;
    animation-name: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: #343a40;
}

.btn-primary {
    background-color: #ff9cd9;
    border-color: #ff9cd9;
}
.btn-primary:hover {
    background-color: #d782b7;
    border-color: #d782b7;
}

.form-container {
    max-width: 500px;
    width: 100%;
    border: 1px solid #dee2e6;
}

.form-container:hover {
    border-color: #ff9cd9;
    box-shadow: #343a40;
}
